services:
  api:
    image: caravan.api
    container_name: caravan-api
    build:
      context: .
      dockerfile: Caravan.API/Dockerfile
    ports:
      - "5012:8080"
    restart: always
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    networks:
      - caravan-network

  db:
    image: postgres
    container_name: caravan-db
    environment:
      POSTGRES_DB: caravan
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - caravan-network
    restart: unless-stopped
 
networks:
  caravan-network:
    driver: bridge

volumes:
    postgres: